
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-color: #ff99fa;
    background-image:
        radial-gradient(at 72% 6%, hsla(71, 67%, 71%, 1) 0px, transparent 50%),
        radial-gradient(at 94% 82%, hsla(23, 91%, 68%, 1) 0px, transparent 50%),
        radial-gradient(at 60% 98%, hsla(325, 89%, 72%, 1) 0px, transparent 50%),
        radial-gradient(at 74% 2%, hsla(142, 85%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 67% 73%, hsla(169, 67%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 37% 68%, hsla(82, 92%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 32% 24%, hsla(161, 82%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 56% 48%, hsla(345, 80%, 64%, 1) 0px, transparent 50%),
        radial-gradient(at 63% 23%, hsla(3, 60%, 69%, 1) 0px, transparent 50%);
}

.container {
    background-color: #dfdfdf;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 80vw;
    max-width: 600px;
    min-width: 350px;
    padding: 60px 30px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}
label {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 500;
}

input {
    margin-bottom: 20px;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid #585858;
    color: #585858;
    padding: 2px 15px;
}

input:focus {
    outline: none;
    border-bottom: 2.4px solid #01e26e;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.input-wrapper input {
    width: 100%;
}

.time-wrapper input {
    width: 60%;
}

select {
    width: 35%;
    border: 1px solid #585858;
    font-size: 20px;
    margin-left: 3%;
    padding: 8px 0;
    border-radius: 5px;
}

button {
    display: block;
    background-color: #01e26e;
    border: none;
    color: #ffffff;
    margin: 20px auto 0 auto;
    padding: 15px 40px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    background-color: #c6ffe2;
    margin-top: 30px;
    color: #585858;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    border-radius: 5px;
}

#result div {
    margin-bottom: 10px;
}

#result span {
    color: #000000;
    font-weight: 500;
}


